@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b; 
}

::-webkit-scrollbar-thumb {
  background: #27272a; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; 
}